body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1,
.bgimg-3 {
    opacity: 0.8;
}

.bgimg-1 {
    background-image: url("../img/acoso1.jpeg");
    min-height: 100%;
}

.bgimg-2{
    background-image: url("../img/wood_1.png");
    min-height: 400px;
    color: #fff;
}

.bgimg-2 h3{
    color: #fff;
}

.titulo_unidades{
    font-size: 45px;
    padding-top: 50px;
}

.bgimg-2 .cajas-unidades{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.bgimg-3 {
    background-image: url("../img/acoso3.jpg");
    min-height: 400px;
}

.entrevista{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
}

.entrevista_txt{
    width: 60%;
    margin-right: 30px;
    padding: 20px;
}

.entrevista_img{
    width: 40%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.entrevista_img img{
    width: 100%;
    padding: 20px;
}

.nombre {
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    font-size: 40px;
}

.slogan {
    font-size: 22px;
    color: #fff;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.quote,
span.border {
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption span.quote {
    background-color: transparent;

}

.caption span.border,
.caption span.nombre {
    background-color: #000;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 25px "Lato", sans-serif;
    color: #111;
    text-align: center;
}



/*Primer contenedor*/
.sobre-nosotros {
    color: #777;
    background-color: white;
    padding: 50px 80px;
    text-align: justify;
}

.sobre-nosotros h3{
    font-size: 45px;
}


.descripcion {
    font-size: 28px;
    text-align: justify;
}

.servicios {
    color: #000;
    background-color: #fff;
    padding: 50px 80px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 60px;
}
.servicios h3{
    font-size: 45px;
}

.cajas-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.srv {
    width: 25%;
    padding: 10px;
    padding-bottom: 30px;
}

.srv h3 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.srv img {
    width: 100%;
    height: 250px;
}

.srv p {
    font-size: 18px;
    text-align: justify;
}

.productos {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.calidad-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

.descripcion-media {
    width: 60%;
}

.productos h3 {
    color: #fff;
}

.salto {
    margin-top: 100px;
}

.calidad-alta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

.descripcion-alta {
    width: 60%;
}

.imagen-alta {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.imagen-media {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.imagen-media img {
    width: 100%;
}

.imagen-alta img {
    width: 100%;
}

.tipo-carne {
    padding: 20px;
    background: #F67825;
    margin-bottom: 10px;
    font-size: 25px;
    width: 80%;
    text-align: center;
}

.tipo-carne:hover {
    cursor: pointer;
    background: #7A4910;
}

.tipo-carne:last-child {
    margin-bottom: 0px;
}

.descripciones-tipo-carne {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    width: 200px;
}

.mision,
.vision {
    width: 40%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.mision span,
.vision span {
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
}

.mision p,
.vision p {
    text-align: justify;
    font-size: 18px;
}

h4{
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 25px "Lato", sans-serif;
    color: #111;
    text-align: center;
}
/* Media query */
@media screen and (max-width:1300px) {
    .cajas-servicios {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:900px) {
    .cajas-servicios {
        flex-direction: column;
        flex-wrap: wrap;
    }
        .srv {
        width: 60%;
    }
    
    .calidad-media{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imagen-media{
        margin-top: 20px;
    }
    
        
    .calidad-alta{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imagen-alta{
        margin-top: 20px;
    }
}

@media screen and (max-width:768px) {
    .bgimg-2 {
        flex-direction: column;
        padding: 20px;
    }

    .mision {
        margin-top: 20px;
    }

    .vision {
        margin-top: 20px;
    }
    
    .srv{
        width: 80%;
    }

}

@media screen and (max-width:480px) {
    .srv {
        width: 100%;
    }

    .mision {
        width: 100%;
    }

    .vision {
        width: 100%;
    }

    .cajas-servicios {
        flex-wrap: wrap;
    }
}

